<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <img class="logo" src="/images/logo.svg" alt="">
    </nav>
    <table border="1" width="70%">
        <thead>
            <tr>
                <th>id</th>
                <th>poster</th>
                <th>title</th>
                <th>dimentions</th>
                <th>languages</th>
                <th>duration</th>
                <th>gener</th>
                <th>date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <% movies.map((movie) => { %>
                <tr>
                    <td><%= movie.id %></td>
                    <td><img src="<%= movie.poster %>" width="150px" alt="<%= movie.poster %>"></td>
                    <td><%= movie.title %></td>
                    <td><%= movie.dimentions %></td>
                    <td><%= movie.languages %></td>
                    <td><%= movie.duration %></td>
                    <td><%= movie.genere %></td>
                    <td><%= movie.date %></td>
                    <td>
                        <a href="editMovie/<%= movie.id %>"><button>Edit</button></a>
                        <a href="deleteMovie/<%= movie.id %>"><button>Delete</button></a>
                    </td>
                </tr>
            <% } )%>
        </tbody>
    </table>
</body>
</html>